@page "/"
@page "/Blogs"
@inject Services.SharedService sharedService

<SfSpinner @bind-Visible="@IsSpinnerVisible" CssClass="max-h-screen bg-white max-w-screen">
</SfSpinner>

<style>
    .bg-div-filters{
        /* background-color: rgb(187 247 208); */
        border-radius: 1rem;
    }
    .custom-blue-color{
        background-color: darkblue;
    }
</style>

@if (blogsPosts != null && blogsPosts.Any())
{

    @* OnChange = "FetchBlogsOnChange" *@

    <form class="@GetFontSizeStyle" >
        <div class="space-y-12 ">
            <div class="border-b border-gray-900/10  flex flex-column items-center bg-div-filters">
                @* <h1 class="text-base font-semibold leading-7 text-gray-900">Blogs</h1> *@

                <div class="flex gap-6 items-center bg-green-200 rounded-3xl m-3 p-4">

                    <div class="flex flex-col gap-1 justify-center items-center  bg-#e5f6df dark:bg-transparent px-2 py-2 rounded-lg">
                        <div class=" rounded-2xl bg-slate-300 h-10 w-10 flex flex-col justify-center ">
                            <img class="h-6 w-6 self-center" src="https://res.cloudinary.com/dzax35hss/image/upload/v1718806396/8666594_slack_icon_be4sqs.png">
                        </div>
                        <p class="font-semibold text-primary text-gray-600 mb-2">Blog Divisions</p>
                        <div class="flex flex-wrap gap-2">
                            <select @bind="filters.DivisionIds" @oninput="HandleDivsionFilterChange" class="mb-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                                <option value="">Select</option>
                                @foreach (var division in BlogDivisions)
                                {
                                    <option value="@division">@division</option>
                                }
                            </select>
                        </div>
                    </div>

                   <div class="flex flex-col gap-1 justify-center items-center  bg-#e5f6df dark:bg-transparent px-2 py-2  rounded-lg">
                        <div class=" rounded-2xl bg-slate-300 h-10 w-10 flex flex-col justify-center ">
                            <img class="h-6 w-6 self-center" src="https://res.cloudinary.com/dzax35hss/image/upload/v1718806396/8666623_command_icon_tk2psv.png">
                        </div>
                        <p class="font-semibold text-primary text-gray-600 mb-2">Blog Tags</p>
                        <div class="flex flex-wrap gap-2">
                            <SfMultiSelect Width="200px" TValue="List<string>" @bind-Value="filters.TagIds" TItem="string" Placeholder="Select" DataSource="@BlogTags">
                                <MultiSelectEvents TValue="List<string>" TItem="string" Closed="@FetchBlogsOnChange" Cleared="@OnInputClear"></MultiSelectEvents>
                            </SfMultiSelect>
                        </div>
                    </div>

                    <div class="flex flex-col gap-1 justify-center items-center  bg-#e5f6df dark:bg-transparent px-2 py-2  rounded-lg">
                        <div class=" rounded-2xl bg-slate-300 h-10 w-10 flex flex-col justify-center ">
                            <img class="h-6 w-6 self-center" src="https://res.cloudinary.com/dzax35hss/image/upload/v1718806396/8666681_edit_icon_whrzkj.png">
                        </div>
                        <p class="font-semibold text-primary text-gray-600 mb-2">Blog Disciplines</p>
                        <div class="flex flex-wrap gap-2">
                            <SfMultiSelect Width="200px" TValue="List<string>" @bind-Value="filters.DisciplineIds" TItem="string" Placeholder="Select" DataSource="@BlogDisciplines">
                                <MultiSelectEvents TValue="List<string>" TItem="string" Closed="@FetchBlogsOnChange" Cleared="@OnInputClear"></MultiSelectEvents>
                            </SfMultiSelect>
                        </div>
                    </div>

                    <form class="w-30">
                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                            <input @oninput="SearchBlogByKeyword" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search..." required />
                            @* <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button> *@
                        </div>
                    </form>
                    <div class="sm:col-span-4 px-4">
                        <button @onclick="ResetForm" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Reset</button>
                    </div>
                </div>

                <div class="sm:py-2">
                    <div class="flex justify-content-between mx-5 my-2">
                        <h2 class=" font-semibold leading-7 text-indigo-600 italic mt-2">Latest Blogs</h2>
                    </div>


                    <div class="mx-auto">
                        <style>@GetFontSizeStyle()</style>

                        <div class="flex">
                            <div style="width:25%">
                            </div>
                            <div class="width:50%">
                                <div class="mx-auto grid  grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-4">

                                    <!-- More posts... -->
                                    @foreach (var item in blogsPosts)
                                    {
                                        <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg dark:bg-black dark:shadow-gray-700/25">
                                            <img src="@Utilities.CheckIfImageisEmpty(item.HeaderImage)" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">

                                            <div class="p-4 sm:p-6 dark:bg-gray-900">
                                                <time datetime="@item.PublishedOn" class="block  text-gray-500 dark:text-gray-400">
                                                    @item.PublishedOn
                                                </time>

                                                <a href="@("/blog/" + item.Bpid)">
                                                    <b><h4 class="mt-0.5  text-gray-900 dark:text-white">
                                                        @item.Title
                                                    </h4></b>
                                                </a>

                                                <p class="mt-2 line-clamp-3 text-gray-500 dark:text-gray-400">
                                                    @((MarkupString)item.Description)
                                                </p>
                                                <div class="relative mt-4 flex items-center gap-x-4">
                                                    <p class="text-base font-semibold leading-7 text-indigo-600 italic">   <span class="font-bold">Created By </span> @(item.Tenant.FirstName + " " + item.Tenant.LastName)</p>
                                                </div>
                                            </div>
                                        </article>
                                    }
                                    
                                </div>
                            </div>
                            <div style="width:25%">
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>

        @* Pagination starts here *@

        @if (!DisablePagination)
        {
            <Pagination paginationModel="PaginationModel" PageChanged="LoadList" />
        }
    </form>

}

@code {
    private int fontSize = 16;
    private string contrastClass = "";

    protected override void OnInitialized()
    {
        sharedService.OnChange += StateHasChanged;
        base.OnInitialized();
    }

    public void Dispose()
    {
        sharedService.OnChange -= StateHasChanged;
    }
    private void AdjustFontSize(int change)
    {
        fontSize = Math.Clamp(fontSize + change, 10, 24);
    }

    private void ResetFontSize()
    {
        fontSize = 16;
    }

    private void SetContrast(string contrastType)
    {
        contrastClass = contrastType switch
        {
            "black" => "contrast-black",
            "white" => "contrast-white",
            _ => ""
        };
    }

    private string GetFontSizeStyle()
    {
        return $@"
        p {{ font-size: {sharedService.FontSize}px; }}
        h1, h2, h3, h4, h5, h6 {{ font-size: {sharedService.FontSizeHead}px; }}
        time {{font-size: {sharedService.FontSize}px;}}";
        //return $"font-size: {sharedService.FontSize}px;";
    }

    private string GetContrastStyle()
    {
        return contrastClass;
    }
}

